@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::after,
*::before{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

a{
text-decoration: none;
color:#4d4959;
}

li{
list-style: none;
}

body{
font-family: 'Lato', sans-serif;
font-size: 16px;
line-height:2rem;
color:#4d4959;
min-height: 100%;
}

.wrapper {
overflow: hidden;
}

.header {
min-height: 100vh;
padding: 15px;
background-image: url("./img/bgfs.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
}

.menu {
padding-top: 35px;
transition: all 0.5s;
}

.menu ul{
display: flex;
justify-content: center;
align-items: center;
}

.menu .item{
padding: 0 40px;
position: relative;
}

.menu .logo{
padding: 0 20px;
}

.menu .item a{
font-size: 13px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 5px;
}

.menu .item::after{
content: "";
width: 5px;
height: 5px;
background-color: #4d4959;
border-radius: 50%;
position: absolute;
top: 50%;
right: 0;
}

.menu .item:last-child::after{
display: none;
}

.menu .item:nth-child(2)::after,
.menu .item:nth-child(3)::after{
background-color: transparent;
}

.icon{
display: none;
position: absolute;
}
/* --------------------------Section 1-------------------------- */

.first{
background-color: rgba(247, 247, 247, 1);
}
.wrapSection{
max-width: 1100px;
margin: 0 auto;
text-align: center;
padding: 120px 10px 145px;
}
.wrapSection img,
.wrapSection h1{
margin-bottom: 35px;
}
.wrapSection h1,
.brend h2{
font-size: 18px;
color: #353738;
text-transform: uppercase;
letter-spacing: 5px;
}
.wrapSection p{
font-size: 18px;
color:#848789;
}
/* ------------------Brend------------------------ */
 .row{
display: flex;
}
.column{
flex: 0 1 33.333%;
}
.columnBig{
flex: 0 1 66,667%;
}

.columnBig{
background-image: url("./img/fonImg1.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
height: 600px; 
}
.column .itemText{
text-align: center;
}
.column .itemText img{
margin: 70px 0 30px 0;
}
.column .itemText h2{
margin-bottom: 30px;
}
.column .itemText p{
justify-content: center;
padding: 0 70px;
margin-bottom: 110px;
font-family: Lato;
font-size: 16px;
line-height: 30px;
font-weight: 400;
color: #848789;
height: 400px;
}
.brend .brendImage{
background-image: url("./img/fonImg4.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding-bottom: 37.89%; 
height: 200px;
} 

.second{
background-color: rgba(247, 247, 247, 1);
}
.wrapSection{
max-width: 1100px;
margin: 0 auto;
text-align: center;
padding: 120px 10px 145px;
}
.wrapSection img,
.wrapSection h2{
margin-bottom: 35px;
}
.wrapSection h2,
.brend h2{
font-size: 18px;
color: #353738; 
letter-spacing: 5px;
}
.wrapSection p{
font-size: 18px;
color:#848789;
}

.shop__content{
height: 200px;
background-color: #282f35;
text-align: center;
padding: 80px;

}
.shop__content a{
width: 300px;
height: 50px;
background-color: rgba(255,255,255,0.0);
border: 1px solid rgba(255,255,255,0.49);
padding: 10px 30px;
color:rgba(255,255,255,0.49)
}

.shop a:hover, 
.shop a:active{
outline: 2px solid #d3d7d9;
}

p {
margin-bottom: 0;
}
  
.email{
height: 469px;  
background-color: #ffffff;
align-items: center; 
text-align: center;
justify-content: center;
}

.email__content{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
padding-top: 70px;
}

.email__content p{
font-family: Lato;
font-size: 24px;
line-height: 34px;
font-weight: 400;
font-style: italic;
color: #848789;
padding-bottom: 50px;
}

.email__content__form__emailInput{
width: 400px;
height: 69px;
background-color: #ffffff;
border: 1px solid #d3d7d9;
text-align:left;
font-family: Lato;
font-size: 20px;
line-height: 24px;
font-weight: 400;
font-style: italic;
color: #929292;
}

.email__content__form__goInput{
width: 126px;
height: 69px;
background-color: #64c29e;
font-family: Lato;
font-size: 24px;
line-height: 24px;
font-weight: 300;
color: #ffffff;
}

.email form input:hover, 
.email form input:focus{
outline: 2px solid #d3d7d9;
}

.footer{
height: 250px;
background-color: #f7f7f7;
display: flex;
text-align: center;
justify-content: space-around;
align-items: center;
margin:0;
}

/* ------------------Media------------------- */
@Media (max-width: 820px) {
.menu{
background-color: #4d4959;
opacity: 0.8;
position: absolute;
top: -100%;
width: 100%;
z-index: 10;
transition: all 0.5s;
}
.menu ul{
flex-direction: column;
}
.menu .logo{
order: -1;
padding-bottom: 40px;
}
.menu .item{
padding: 0 0 40px 0;
}
.menu .item::after{
right: 50%;
background-color: #4d4959;
}
.menu .item:nth-child(2)::after{
background-color: #4d4959;
}
.menu .item a{
font-size: 24px;
color:white;
}
.menu.active{
top: 0%;
}
.icon{
display: block;
width: 45px;
height: 45px;
top: 40px;
right: 40px;
z-index: 15;
transition: all 0.8s;
cursor: pointer;
}
.icon::before,
.icon::after{
content: "";
}

.icon span,
.icon::before,
.icon::after{
width: 100%;
height: 15%;
background-color: #4d4959;
position: absolute;
transition: all 0.8s;
}
.icon::before{
top: 0;
}
.icon::after{
bottom: 0;
}
.icon span{
top: 50%;
transform: translateY(-50%);
}

.icon.active span{
display: none;
}
.icon.active::after{
transform: rotate(45deg);
top: 50%;
background-color: white;
}
.icon.active::before{
transform: rotate(-45deg);
top: 50%;
background-color: white;
}
}
